
.grandpa, .grandpa div{
    border: 2px solid goldenrod;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: fit-content;
}

.flex{
    display: flex;
    grid-template-columns: 1fr 1fr;
}